/* https://www.freeformatter.com/css-beautifier.html */
/* https://jigsaw.w3.org/css-validator/#validate_by_input */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff url('../img/geometry2.png');
	/* Background pattern from Subtle Patterns */
	font-family: 'Coda', cursive;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

.deck {
	width: 660px;
	min-height: 680px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 125px;
	width: 125px;
	background: #2e3d49;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	cursor: default;
	animation-name: flipUpYAxis;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
  animation-duration: .75s;
}

.deck .card.show {
	background: #02b3e4;
	font-size: 33px;
	cursor: default;
}

.deck .card.match {
	cursor: default;
	background: #02ccba;
	font-size: 33px;
	animation-name: rubberBand;
/*	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important; */
	animation-duration: .75s;
}
.deck .card.no_Match{
	background: #ff0000;
	font-size: 33px;
	animation-name: shakeIt;
	animation-duration: .75s;
}
.deck .card.close{
	font-size: 33px;
	animation-name: flipDownYAxis;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
	text-align: left;
	width: 345px;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}
.timer{
		margin-left: 10px;
}
/*
* Styles for modal
*/

.modalStars .cardMatch {
	display: block;
	margin: auto;
	width: 50%;
	justify-content: center;
	align-items: center;
	margin: auto;
	list-style: none;
}

.closeButton {
	margin-top: 25px;
	background: #2e3d49;
	color: #ffffff;
	font-weight: bold;
}

.modalStars .cardMatch {
	height: 125px;
	width: 125px;
	background: #02ccba;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

#styledModal {
	background: #FFF;
	Height: 300px;
	width: 350px;
	text-align: center;
	/*  padding: 1.5em; */
	align-items: center;
	justify-content: center;
	/*  border: 0; */
	border-top: 5px solid #2e3d49;
	border-bottom: 5px solid #2e3d49;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

#styledModal::backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
/* animations */
@keyframes flipUpYAxis {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
		background: #2e3d49;
		font-size: 0px;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, 135deg);
		background: #2e3d49;
		font-size: 0px;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		background: #2e3d49;
			font-size: 0px;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, 45deg);
		background: #02b3e4;
		font-size: 33px;
	}

	to {
		transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
		background: #02b3e4;
		font-size: 33px;
	}
}
@keyframes flipDownYAxis {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
		background: #ff0000;
		font-size: 33px;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, 45deg);
		background: #ff0000;
		font-size: 33px;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		background: #ff0000;
		font-size: 33px;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, 135deg);
		background: #2e3d49;
		font-size: 0px;
	}

	to {
		transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
		background: #2e3d49;
		font-size: 0px;
	}
}
@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes shakeIt {
	from {
			transform: perspective(400px) rotate3d(0, 0, 1, 0deg);
	}
	75% {
		transform: perspective(400px) rotate3d(0, 0, 1, -8deg);
	}
	50% {
		transform: perspective(400px) rotate3d(0, 0, 1, 0deg);
	}
	25% {
		transform: perspective(400px) rotate3d(0, 0, 1, 8deg);
	}
	to {
		transform: perspective(400px) rotate3d(0, 0, 1, 0deg);
	}
}
